In [1]:
import pandas as pd
import numpy as np
import datetime
import os

In [2]:
df_cases = pd.read_csv("https://raw.githubusercontent.com/DataScienceScotland/COVID-19-Management-Information/master/COVID19%20-%20Daily%20Management%20Information%20-%20Scottish%20Health%20Boards%20-%20Cumulative%20cases.csv")

In [4]:
hbo_dict = {
    
    1 : 'Ayrshire and Arran',
    2 : 'Borders',
    3 : 'Dumfries and Galloway',
    4 : 'Western Isles',
    5 : 'Fife',
    6 : 'Forth Valley',
    7 : 'Grampian',
    8 : 'Greater Glasgow and Clyde',
    9 : 'Highland',
    10 : 'Lanarkshire',
    11 : 'Lothian',
    12 : 'Orkney',
    13 : 'Shetland',
    14 : 'Tayside'
}

In [5]:
path_dict = {
                "cases" : "https://raw.githubusercontent.com/DataScienceScotland/COVID-19-Management-Information/master/COVID19%20-%20Daily%20Management%20Information%20-%20Scottish%20Health%20Boards%20-%20Cumulative%20cases.csv",
                "hospital_covid" : "https://raw.githubusercontent.com/DataScienceScotland/COVID-19-Management-Information/master/COVID19%20-%20Daily%20Management%20Information%20-%20Scottish%20Health%20Boards%20-%20Hospital%20patients%20-%20Confirmed.csv",
                "hospital_all" : "https://raw.githubusercontent.com/DataScienceScotland/COVID-19-Management-Information/master/COVID19%20-%20Daily%20Management%20Information%20-%20Scottish%20Health%20Boards%20-%20Hospital%20patients.csv",
                "icu" : "https://raw.githubusercontent.com/DataScienceScotland/COVID-19-Management-Information/master/COVID19%20-%20Daily%20Management%20Information%20-%20Scottish%20Health%20Boards%20-%20ICU%20patients.csv",
            }

In [5]:
df_cases.tail()

,Date,Ayrshire and Arran,Borders,Dumfries and Galloway,Fife,Forth Valley,Grampian,Greater Glasgow and Clyde,Highland,Lanarkshire,Lothian,Orkney,Shetland,Tayside,Western Isles
74,2020-05-20,987,322,257,826,894,1216,3780,334,1867,2584,7,54,1617,6
75,2020-05-21,995,322,257,826,896,1218,3806,334,1892,2611,7,54,1632,6
76,2020-05-22,1001,322,257,826,909,1223,3841,335,1913,2634,7,54,1641,6
77,2020-05-23,1015,322,257,826,915,1223,3865,335,1922,2649,7,54,1645,6
78,2020-05-24,1019,322,258,826,917,1224,3876,335,1934,2665,7,54,1658,6

In [6]:
def get_hbo_data_by_date(health_board, data_type):
    df = pd.read_csv(path_dict.get(data_type))
    df = df[['Date', health_board]]
    df = df.rename(columns={'Date':'date', health_board:'value'})
    df = df.iloc[-31:]
    df['value'] = df['value'].astype(int)
    df['value'] = df[['value']].diff()
    
    return df

In [11]:
df_test = get_hbo_data_by_date('Dumfries and Galloway', "cases")
#df_test['value'] = df_test['value'].astype(int)

In [12]:
#df_test['value'] = df_test[['value']].diff()

In [13]:
df_test

          date  value
48  2020-04-24    NaN
49  2020-04-25    2.0
50  2020-04-26    3.0
51  2020-04-27    3.0
52  2020-04-28    0.0
53  2020-04-29    1.0
54  2020-04-30    2.0
55  2020-05-01    3.0
56  2020-05-02    1.0
57  2020-05-03    0.0
58  2020-05-04    0.0
59  2020-05-05    4.0
60  2020-05-06    0.0
61  2020-05-07    0.0
62  2020-05-08    1.0
63  2020-05-09    0.0
64  2020-05-10    0.0
65  2020-05-11    0.0
66  2020-05-12    0.0
67  2020-05-13   -1.0
68  2020-05-14    1.0
69  2020-05-15    0.0
70  2020-05-16    2.0
71  2020-05-17    0.0
72  2020-05-18    0.0
73  2020-05-19    0.0
74  2020-05-20    0.0
75  2020-05-21    0.0
76  2020-05-22    0.0
77  2020-05-23    0.0
78  2020-05-24    1.0

In [43]:
df_new = get_hbo_data_by_date('Lothian', 'cases')
df_new

          date value
48  2020-04-24  1684
49  2020-04-25  1730
50  2020-04-26  1785
51  2020-04-27  1804
52  2020-04-28  1832
53  2020-04-29  1907
54  2020-04-30  1980
55  2020-05-01  2014
56  2020-05-02  2065
57  2020-05-03  2089
58  2020-05-04  2113
59  2020-05-05  2149
60  2020-05-06  2200
61  2020-05-07  2241
62  2020-05-08  2274
63  2020-05-09  2324
64  2020-05-10  2359
65  2020-05-11  2380
66  2020-05-12  2397
67  2020-05-13  2428
68  2020-05-14  2459
69  2020-05-15  2497
70  2020-05-16  2539
71  2020-05-17  2561
72  2020-05-18  2568
73  2020-05-19  2575
74  2020-05-20  2584
75  2020-05-21  2611
76  2020-05-22  2634
77  2020-05-23  2649
78  2020-05-24  2665

In [7]:
def get_all_hbo_data(path_dict, root_path):
    
    for i in range (1, len(hbo_dict)+1):
            
        # Create the dataframe
        #print(hbo_dict[i])
        df = get_hbo_data_by_date(hbo_dict[i], "cases")
        path = root_path + f"{i}_new_cases.csv"
        current_dir = os.getcwd()
        curr = os.path.dirname(os.getcwd())
        #print(curr)
        df.to_csv(current_dir + path)

In [8]:
get_all_hbo_data(path_dict, "/data/hbo/")